<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ticket monitor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BCCF696D1C08F1AB001F0EAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCCF69891C08F1AC001F0EAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCCF69941C08F1AC001F0EAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
